extends /_layouts/main
block content 
	h1 Login
	a(href="/auth/facebook", target="_blank") Login with facebook
	a(href="/auth/google", target="_blank") Login with Google
	a(href="/auth/twitter", target="_blank") Login with Twitter
	a(href="/auth/oauth", target="_blank") Login
	a(href="/register", target="_blank") Register
	a(href="/password/reset", target="_blank") Forgot password ?