extends /_layouts/main
block content
    form(action="/auth/oauth/login",method="post")
        input(type="hidden", name="_csrf", value="#{_csrfToken}")
        div
            label Username:
            input(type="text", name="username")
            br
        div
            label Password
            input(type="password", name="password")
            br
        div
            input(type="submit", value="Submit")
    p
        small Hint - bob:secret
    p
        small Hint - joe:password
