extends /_layouts/main
block content
    form(action="/auth/oauth/login",method="post")
        input(type="hidden", name="_csrf", value="#{_csrfToken}")
        div
            label Email:
            input(type="email", name="username", required)
            br
        div
            label Password
            input(type="password", name="password", required)
            br
        div
            input(type="submit", value="Submit")
