extends /_layouts/main 

block content

  #content
    :markdown
      #Websites
        1. [Wikipedia] (http://www.wikipedia.org/)
        2. [Google] (http://www.google.com/)
        3. [Yahoo] (http://www.yahoo.com/)
        
        **IMPORTANT**: Install the 'markdown' module 

