.gradient 
  background-image linear-gradient(to right, red, green 50%)
  border-radius 5px
.warn 
  color: warning-color
#content 
  color: #00a
  &.important
    font: bold
  .special
    background: #cff
    display: block
    color: #f00;
#message 
  @extends #content 
  font-size: 40px