extends /_layouts/main
block content
    form(action="/csrf-form", method="POST")
        input(type="hidden", name="_csrf", value="#{_csrfToken}")
        | Name:
        input(type="text", name="name")
        br
        | Email:
        input(type="email", name="email")
        br
        button(type="submit") Submit
